.hidden-right {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(100%);
    transition: all 1s;
    z-index: 1000;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    z-index: 1000;
}

.Login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Background {
    width: 100%;
    height: 600px;
}

.Login-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.CV-Buider-Name {
    position: absolute;
    width: 182.78px;
    height: 40px;
    top: 30px;
    left: 5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    z-index: 9999;

    margin: 0px;

    color: #ffffff;
}

.Sign-up-button {
    position: absolute;
    width: 87px;
    height: 33px;
    top: 30px;
    right: 10%;

    background: #252424;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}

.Sign-up-button:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
}

.Login-main {
    position: absolute;
    width: 100%;
    height: auto;
    top: 100px;
    background-color: transparent;
}

.CV {
    position: relative;
    left: 15%;
    top: 10px;
    transition: all 0.5s;
}

.CV:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}

.CV-counter {
    position: absolute;
    left: 15%;
    top: 555px;
}

.Login-part {
    position: absolute;
    width: 300px;
    left: 900px;
    top: 40px;
}

.Login-text {
    position: relative;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin: 0px;

    color: #FFFFFF;
}

.username-form-field {
    position: relative;
    margin: 40px 0px 30px 0px;
}

.password-form-field {
    position: relative;
    margin: 10px 0px;
}

.icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 30px;
    margin: 8px;
    padding: 0px;
}

.form-input {
    border: 1px solid #eee;
    width: 258px;
    height: 42px;

    padding: 0 20px;
    transition: 0.25s ease;

    background: #F0F0F0;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

.form-input:not(:placeholder-shown),
.form-input:focus {
    width: 238px;
    padding-right: 40px;
}

.form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    border-radius: 5px;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    top: -5px;
    left: 11px;
    font-size: 18px;
    padding: 3px 15px;
    display: inline-block;
    background-color: rgb(46, 45, 45);
    color: #F0F0F0;
    border: 1px solid black;
    border-radius: 10px;
}

.forgot-password-text {
    position: relative;
    float: right;
    width: fit-content;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    color: #62A4F0;
    margin: 5px 0px;
}

.forgot-password-text:hover {
    color: #2788f7;
    transition: color 0.3s ease;
}

.login-button {
    position: relative;
    width: 300px;
    height: 45px;

    background: #62A4F0;
    border-radius: 10px;
    margin: 8px 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;

    color: #FFFFFF;
    cursor: pointer;
}

.login-button:hover {
    transform: translateY(-2px);
    transition: all 0.3s;
    background: #2788f7;
}

.dont-account-text {
    position: relative;
    width: 100%;
    height: 22px;
    text-align: center;

    margin: 5px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: #EDEBEB;
}

.dont-account-sign-up-text {
    color: #62A4F0;
}

.dont-account-sign-up-text:hover {
    color: #2788f7;
    transition: color 0.3s ease;
}
