.Login {
    width: auto;
    height: auto;
}

.Background {
    width: 100%;
    height: 600px;
}

.Login-header {
    width: auto;
    height: auto;
}

.CV-Buider-Name {
    position: absolute;
    width: 182.78px;
    height: 40px;
    top: 30px;
    left: 5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;

    margin: 0px;

    color: #ffffff;
}

.Sign-up-button {
    position: absolute;
    width: 87px;
    height: 33px;
    top: 30px;
    right: 10%;

    background: #252424;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.Login-main {
    position: absolute;
    width: 100%;
    top: 100px;
}

.CV {
    position: absolute;
    left: 15%;
    top: 10px;
}

.CV-counter {
    position: absolute;
    left: 15%;
    top: 555px;
}

.Login-part {
    position: absolute;
    width: 260px;
    height: 325px;
    left: 900px;
    top: 50px;
}

.Login-text {
    position: absolute;
    width: 260px;
    height: 40px;
    top: 0px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    margin: 0px;

    color: #FFFFFF;
}

.username-container {
    position: absolute;
    width: 240px;
    height: 41px;
    left: 0px;
    top: 76px;
}

.username {
    width: 220px;
    height: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    margin: 0px;
    padding: 0px 20px;
    background: #F0F0F0;
    border-radius: 10px;
}

::placeholder {
    position: absolute;
    width: auto;
    height: 18px;
    left: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    color: #6E6B6B;
}

.password-container {
    position: absolute;
    width: 240px;
    height: 41px;
    left: 0px;
    top: 136px;
}

.forgot {
    position: absolute;
    width: 100%;
    height: 15px;
    text-align: right;
    top: 193px;

    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: #EDEBEB;
}

.login-button {
    position: absolute;
    width: 260px;
    height: 41px;
    left: 0px;
    top: 223px;

    background: #62A4F0;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.dont-account {
    position: absolute;
    width: 100%;
    height: 22px;
    top: 280px;
    text-align: center;

    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: #EDEBEB;
}
