ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li.nav-li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;

    transition: all 0.3s;
}
  
li a:hover {
    background-color: #a09f9f;
}
  
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    z-index: 1000;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    z-index: 1000;
}

.home {
    position: relative;
    width: 100%;
    height: auto;
}

.home-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 0;
    text-align: center;
    background: #eee;
    z-index: 9999;
    transition: all 300ms ease-in-out;
}

.home-header.scroll-down{
    transform: translate3d(0, -100%, 0);
}

.home-header.scroll-up {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    transition: all 200ms ease-in-out;
}

.header.menu-is-open header {
    filter: none;
}

.part1 {
    position: relative;
    width: 100%;
    top: 0px;
    height: 787.5px;

    background-image: url("../../public/Image/Home_Screen/bg-part1.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

.part1-header.sticky .cv-buider-name {
    color: #000000;
}

.cv-buider-name {
    position: absolute;
    width: 182.78px;
    height: 40px;
    left: 54px;
    top: 14px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    margin: 0;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav {
    position: absolute;
    top: 0;
    right: 70px;
}

.nav-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.icon-home {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 23px;
    padding: 0px;
}

.part1-line {
    position: absolute;
    width: 99%;
    height: 0px;
    left: 10px;
    top: 70px;
    
    border: 0.1px solid #000000;

}

.part1-main {
    position: relative;
    width: 376px;
    height: 338px;
    left: 800px;
    top: 170px;
}

.online-text {
    position: relative;
    width: 225px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 54px;
    margin: 0;

    color: #000000;
}

.easy-text {
    position: relative;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;

    color: #000000;
}

.create-button {
    box-sizing: border-box;

    position: relative;
    width: 226px;
    height: 68px;
    top: 70px;

    background: transparent;
    border: 1px solid #000000;
    padding: 0;
}

.create-button:hover {
    transform: translateY(-5px);
    background: #d6d6d6; 
    transition: all 0.3s;
}

.create-text {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 0;

    color: #000000;
}

.part2 {
    position: relative;
    width: 100%;
    height: 852.5px;

    background-image: url("../../public/Image/Home_Screen/bg-part2.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

.part2-main {
    position: relative;
    width: 100%;
    top: 25%;
}

.beautiful-text {
    position: relative;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 67px;
    text-align: center;
    margin: 0 300px;

    color: #FFFFFF;
}

.win-text {
    position: relative;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    margin: 75px 400px;

    color: #FFFFFF;

    transition-delay: 200ms;
}

.part3 {
    position: relative;
    width: 100%;
    height: 860px;

    background-image: url("../../public/Image/Home_Screen/bg-part3.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

.part3-main {
    position: relative;
    width: 100%;
    height: 540px;
    top: 150px;
}

.your-cv-text {
    position: relative;
    width: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    margin: 0;

    color: #000000;
}

.step1 {
    position: absolute;
    width: 241px;
    height: 195px;
    left: 300px;
    top: 150px;
}

.step2 {
    position: absolute;
    width: 279px;
    height: 195px;
    left: 620px;
    top: 150px;

    transition-delay: 200ms;
}
    
.step3 {
    position: absolute;
    width: 244px;
    height: 195px;
    left: 1000px;
    top: 150px;

    transition-delay: 400ms;
}

.num{
    position: absolute;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18.5px;
    text-align: center;
    margin: 0;

    color: #000000;
}

.part3-pic {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 20px;
    text-align: center;
}

.step-title {
    position: absolute;
    width: 100%;
    height: 28px;
    top: 120px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18.5px;
    text-align: center;
    margin: 0;

    color: #000000;
}

.step-descrip {
    position: absolute;
    width: 100%;
    height: 39px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 20px;
    margin: 0;

    color: #000000;
}

.button-part3 {
    position: absolute;
    left: 650px;
    top: 450px;
}

.part4 {
    position: relative;
    width: 100%;
    height: 860px;

    background-image: url("../../public/Image/Home_Screen/bg-part4.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

.part4-main {
    position: relative;
    width: 1280px;
    height: 646px;
    top: 70px;
    left: 110px;
}

.why-text {
    position: absolute;
    width: auto;
    height: auto;  
    left: 100px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    margin: 0;

    color: #000000;
}

.using-text {
    position: absolute;
    width: auto;
    height: auto;
    left: 150px;
    top: 140px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;

    color: #000000;
}

.part4-pic {
    position: absolute;
    width: 400px;
    height: 392.08px;
    left: 150px;
    top: 200px;

    border-radius: 5px;
}

.quote1 {
    position: absolute;
    width: 600px;
    height: 45px;
    left: 600px;
    top: 220px;

    transition-delay: 200ms;
}

.quote2 {
    position: absolute;
    width: 600px;
    height: 45px;
    left: 600px;
    top: 290px;

    transition-delay: 300ms;
}

.quote3 {
    position: absolute;
    width: 600px;
    height: 45px;
    left: 600px;
    top: 360px;

    transition-delay: 400ms;
}

.quote4 {
    position: absolute;
    width: 600px;
    height: 45px;
    left: 600px;
    top: 430px;

    transition-delay: 500ms;
}

.part4-line {
    position: absolute;
    width: 40px;
    height: 0px;
    top: 21px;
    left: -20px;

    border: 1px solid #000000;
    transform: rotate(90deg);
}

.part4-title {
    position: absolute;
    width: auto;
    height: auto;
    left: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 0;

    color: #000000;
}

.part4-descrip {
    position: absolute;
    width: auto;
    height: auto;
    left: 20px;
    top: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;

    color: #000000;
}

.button-part4 {
    position: absolute;
    left: 700px;
    top: 530px;

    transition-delay: 700ms;
}

.button-part4:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
}

.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;

    background: #D9D9D9;
}

.cv-buider-name-footer {
    color: #000000;
}

.copyright {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 0;

    color: #000000;
}
