.hidden-bottom {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(100%);
    transition: all 0.5s;
    z-index: 1000;
}

.showY {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    z-index: 1000;
}

.Register{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #4E4D4D;
}

.Register-main {
    position: relative;
    width: 700px;
    height: 520px;
    left: 420px;
    top: 130px;
}

.Registration-text {
    position: relative;
    width: 100%;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin: 0px;

    color: #FFFFFF;

}

.fullname-regis-form-field {
    position: absolute;
    left: 30px;
    top: 90px;
    transition-delay: 200ms;
}

.username-regis-form-field {
    position: absolute;
    right: 30px;
    top: 90px;
    transition-delay: 200ms;
}

.email-regis-form-field {
    position: absolute;
    left: 30px;
    top: 170px;
    transition-delay: 300ms;
}

.phone-regis-form-field {
    position: absolute;
    right: 30px;
    top: 170px;
    transition-delay: 300ms;
}

.password-regis-form-field {
    position: absolute;
    left: 30px;
    top: 250px;
    transition-delay: 400ms;
}

.cfpassword-regis-form-field {
    position: absolute;
    right: 30px;
    top: 250px;
    transition-delay: 400ms;
}

.gender {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 320px;
    transition-delay: 500ms;
}

.gender-text {
    position: absolute;
    width: 100%;
    left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin: 0;

    color: #FFFFFF;
}

.male-box {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 75px;
    top: 40px;

    background: #D9D9D9;
    border-radius: 2px;
}

.male-text {
    position: absolute;
    left: 100px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0;

    color: #FFFFFF;
}

.female-box {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 245px;
    top: 40px;

    background: #D9D9D9;
    border-radius: 2px;
}

.female-text {
    position: absolute;
    width: 61px;
    height: 21px;
    left: 270px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0;

    color: #FFFFFF;
}

.prefer-box {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 425px;
    top: 40px;

    background: #D9D9D9;
    border-radius: 2px;
}

.prefer-text {
    position: absolute;
    width: 139px;
    height: 21px;
    left: 450px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0;

    color: #FFFFFF;
}

.register-button {
    position: absolute;
    width: 300px;
    height: 45px;
    left: 190px;
    top: 410px;
    transition-delay: 600ms;
}

.have-account-text {
    position: absolute;
    top: 470px;
    transition-delay: 700ms;
}
