/* Gender */

position: absolute;
width: 529px;
height: 60px;
left: 201px;
top: 417px;



/* Group 2 */

position: absolute;
width: 156px;
height: 21px;
left: 574px;
top: 456px;



/* Prefer not to say */

position: absolute;
width: 139px;
height: 21px;
left: 591px;
top: 456px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 4163 */

position: absolute;
width: 11px;
height: 13px;
left: 574px;
top: 460px;

background: #D9D9D9;
border-radius: 2px;


/* Group 4 */

position: absolute;
width: 78px;
height: 21px;
left: 397px;
top: 456px;



/* Female */

position: absolute;
width: 61px;
height: 21px;
left: 414px;
top: 456px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 4163 */

position: absolute;
width: 11px;
height: 13px;
left: 397px;
top: 460px;

background: #D9D9D9;
border-radius: 2px;


/* Group 3 */

position: absolute;
width: 61px;
height: 21px;
left: 245px;
top: 456px;



/* Male */

position: absolute;
width: 44px;
height: 21px;
left: 262px;
top: 456px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 4163 */

position: absolute;
width: 11px;
height: 13px;
left: 245px;
top: 460px;

background: #D9D9D9;
border-radius: 2px;


/* Gender */

position: absolute;
width: 75px;
height: 23px;
left: 201px;
top: 417px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

