/* main */

position: absolute;
width: 315px;
height: 362px;
left: 64px;
top: 135px;



/* back-button */

position: absolute;
width: 83px;
height: 28px;
left: 64px;
top: 469px;



/* Rectangle 4175 */

box-sizing: border-box;

position: absolute;
width: 83px;
height: 28px;
left: 64px;
top: 469px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 30px;


/* Back */

position: absolute;
width: 33px;
height: 17px;
left: 97px;
top: 475px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* Arrow_alt_left_alt */

position: absolute;
left: 7.6%;
right: 89.9%;
top: 87.22%;
bottom: 8.33%;



/* Vector 9 */

box-sizing: border-box;

position: absolute;
left: 20.83%;
right: 29.17%;
top: 33.33%;
bottom: 33.33%;

/* fill_icon */
border: 1px solid #222222;


/* I-already-have-a-resume-button */

position: absolute;
width: 240px;
height: 45px;
left: 102px;
top: 322px;



/* Rectangle 4174 */

box-sizing: border-box;

position: absolute;
width: 240px;
height: 45px;
left: 102px;
top: 322px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 10px;


/* Arhive_export_light */

position: absolute;
width: 24px;
height: 20.77px;
left: 112px;
top: 334px;



/* Rectangle 1 */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* fill_icon */
border: 1px solid #222222;
border-radius: 2px;


/* Rectangle 2 */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 25%;

/* fill_icon */
border: 1px solid #222222;


/* Vector 9 */

position: absolute;
left: 39.58%;
right: 35.18%;
top: 29.17%;
bottom: 46.76%;

/* fill_icon */
border: 1px solid #222222;
border-radius: 2px;
transform: matrix(0, 1, 1, 0, 0, 0);


/* I already have a resume */

position: absolute;
width: 185px;
height: 16.44px;
left: 142px;
top: 335px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Or */

position: absolute;
width: 20px;
height: 19px;
left: 212px;
top: 282px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* create-a-new-resume-button */

position: absolute;
width: 240px;
height: 45px;
left: 102px;
top: 215px;



/* Rectangle 4174 */

box-sizing: border-box;

position: absolute;
width: 240px;
height: 45px;
left: 102px;
top: 215px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 10px;


/* File_dock_light */

position: absolute;
width: 24px;
height: 24px;
left: 112px;
top: 225px;



/* Rectangle 4012 */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

/* fill_icon */
border: 1px solid #222222;
border-radius: 3px;


/* Vector 52 */

position: absolute;
left: 75%;
right: 25%;
top: 12.5%;
bottom: 62.5%;

/* fill_icon */
border: 1px solid #222222;
border-radius: 1px;


/* Vector 53 */

position: absolute;
left: 87.5%;
right: 12.5%;
top: 25%;
bottom: 50%;

/* fill_icon */
border: 1px solid #222222;
border-radius: 1px;
transform: rotate(90deg);


/* Vector 60 */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 54.17%;
bottom: 45.83%;

/* fill_icon */
border: 1px solid #222222;
border-radius: 2px;


/* Vector 61 */

position: absolute;
left: 37.5%;
right: 45.83%;
top: 37.5%;
bottom: 62.5%;

/* fill_icon */
border: 1px solid #222222;
border-radius: 2px;


/* Vector 62 */

position: absolute;
left: 37.5%;
right: 45.83%;
top: 70.83%;
bottom: 29.17%;

/* fill_icon */
border: 1px solid #222222;
border-radius: 2px;


/* Create a new resume */

position: absolute;
width: 163px;
height: 19px;
left: 142px;
top: 228px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;



/* How do you want to start? */

position: absolute;
width: 315px;
height: 30px;
left: 64px;
top: 135px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #000000;

